---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: ${hostname}

---
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
  - address: 172.64.36.1
  - address: 172.64.36.2
searchDomains:
  disableDefault: false

---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: ethSel0
selector:
  match: glob("0*", link.bus_path)
---
apiVersion: v1alpha1
kind: LinkConfig
name: ethSel0
addresses:
  - address: ${ip_cidr}
routes:
  - gateway: ${ip_gateway}
