#SPDX-License-Identifier: MIT-0
---
# tasks file for linstor

- name: Add LINBIT APT Repository
  ansible.builtin.deb822_repository:
    name: linbit
    types: deb
    uris: http://packages.linbit.com/public/
    suites: proxmox-9
    components: drbd-9
    signed_by: https://packages.linbit.com/package-signing-pubkey.asc

- name: Install low level components
  ansible.builtin.apt:
    state: present
    name:
      - proxmox-headers-{{ ansible_kernel }}
      - drbd-dkms
      - drbd-utils

- name: Install LINSTOR components
  ansible.builtin.apt:
    state: present
    name:
      - linstor-controller=1.32.3-1
      - linstor-satellite=1.32.3-1
      - linstor-client=1.27.0-1
      - linstor-proxmox=8.1.4-1
      - linstor-gui=2.0.0-1

- name: Configure LINSTOR Satellite service
  ansible.builtin.copy:
    dest: /etc/systemd/system/linstor-satellite.service.d/override.conf
    mode: '0644'
    content: |
      [Service]
      Type=notify
      TimeoutStartSec=infinity

- name: Enable LINSTOR satellite service
  ansible.builtin.systemd_service:
    name: linstor-satellite
    state: started
    enabled: true

- name: Enable LINSTOR controller service on one node only
  delegate_to: pve_0
  ansible.builtin.systemd_service:
    name: linstor-controller
    state: started
    enabled: true
