# SPDX-License-Identifier: MIT-0
---
# tasks file for networking

# Set ip forwarding on in /proc and in the sysctl file and reload if necessary
- name: Enable IP forwarding
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/99-ip-forwarding.conf
    name: "{{ item }}"
    value: '1'
    sysctl_set: true
    state: present
    reload: true
  loop:
    - net.ipv4.ip_forward
    - net.ipv6.conf.all.forwarding

- name: Pin network interface names
  block:
    - name: Create temporary directory for .link files
      delegate_to: localhost
      tempfile:
        state: directory
      register: temp_dir

    - name: Deploy .link files to temporary directory
      delegate_to: localhost
      template:
        src: interface.link.j2
        dest: "{{ temp_dir.path }}/10-{{ item.name }}.link"
      loop: "{{ network_interfaces }}"
      loop_control:
        label: "{{ item.name }}"
      vars:
        interface_name: "{{ item.name }}"
        mac_address: "{{ item.mac }}"

    - name: Synchronize .link files to destination
      ansible.posix.synchronize:
        src: "{{ temp_dir.path }}/"
        dest: "/etc/systemd/network/"
        archive: no
        checksum: yes
        recursive: yes
        delete: yes
        rsync_opts:
          - "--chown=root:root"
      notify: Refresh initramfs

  always:
    - name: Clean up temporary directory
      delegate_to: localhost
      file:
        path: "{{ temp_dir.path }}"
        state: absent
