[logging]
  # possible logging levels are: ERROR, WARN, INFO, DEBUG, TRACE
  # external library logging
  level = "INFO"
  # linstor logging
  linstor_level = "INFO"

[files]
  # directories and files allowed to be altered by external files API
  allowExtFiles = [
    "/etc/systemd/system",
    "/etc/systemd/system/linstor-satellite.service.d",
    "/etc/drbd-reactor.d"
  ]
